body {
  /*text-align: center;*/
}
.vote-container {
  width: 600px;
  margin:0 auto;
  text-align: center;
}
.vote-container table {
  width: 100%;
}
.vote-container table th,
.vote-container table td {
  padding:10px;
  text-align: center;
}